<template>
    <div class="post-ml">
        {{PostData}}
    </div>
</template>

<script>
export default {
    name: 'app',
    data(){
        return{
            PostData: [
                {id: 1, name: 'post 1', content: 'content post 1'},
                {id: 2, name: 'post 2', content: 'content post 2'}
            ]
        }
    },
    methods: {
    }
}
</script>

<style>

</style>